<div id="logo-splash" class="logo"> 
  <h1 class="center-text">Wooo<%= image_tag("exclamation.png", class: "exclamation-splash") %></h1>
</div>
<h2 class="center-text splash-tagline">Change your habits, together</h2>
<div class="splash-btn">
  <div class="splash-btn-row">
    <%= link_to "Join", new_user_registration_path, class: "btn btn-success btn-lg" %>
  </div>
  <div class="splash-btn-row">
    <%= link_to "Login", new_user_session_path, class: "btn btn-default btn-lg" %>
  </div>
</div>
  
